body {
    
}

table {
    width: 300px;
    border-collapse: collapse;
}

tr.linha1 {
    background-color: blue;
}

tr.linha1 td {
    background-image: url('imagens/fundo-bike.jpg');
    background-size: 100%;
    height: 10vh;
}

tr.linha2 {
    background-color: red;
}

tr.linha3 {
    background-color: yellow;
}

tr.linha4 {
    background-color: green;
}

td {
    border: 1px solid black;
    padding: 5px;
}